{% extends "base.html" %}

{% block 'body' %}
    <div class="relative isolate">
        <svg class="pointer-events-none -z-50  absolute inset-x-0 top-0 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
        <defs>
            <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
            </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
            <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
        </svg>
        <div class="pointer-events-none absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
            <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
        </div>
    

    <div class="py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-xl">
           
            <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Cadastre pacientes</h2>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="rounded-md {{message.tags}} p-4">
                        <div class="flex">
                
                            <div class="ml-3">
                            {{message}}
                            </div>

                        </div>
                     </div>
                <br>
                {% endfor %}
            {% endif %}

            <form action="{% url 'pacientes' %}" method="POST" enctype='multipart/form-data'> {% csrf_token %}
                <label for="nome" class="block mt-2 text-sm/6 font-medium text-gray-600">Nome</label>
                <div class="mt-2">
                    <input type="text" name="nome" id="nome" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>

                <label for="email" class="block mt-2 text-sm/6 font-medium text-gray-600">Email</label>
                <div class="mt-2">
                    <input type="email" name="email" id="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>

                <label for="telefone" class="block mt-2 text-sm/6 font-medium text-gray-600">Telefone</label>
                <div class="mt-2">
                    <input type="text" name="telefone" id="telefone" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>

                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label for="telefone" class="block mt-2 text-sm/6 font-medium text-gray-600">Queixa</label>
                        <div class="mt-2">
                            <select name="queixa" class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                                {% for queixa in queixas %}
                                <option value="{{queixa.0}}">{{queixa.1}}</option>
                                {% endfor %}
                                
                            </select>
                            
                        </div>
                    </div>

                    <div>
                        <label for="foto" class="block mt-2 text-sm/6 font-medium text-gray-600">Foto</label>
                        <div class="mt-2">
                            <input type="file" required name="foto" id="foto" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                    </div>
                    
                </div>
                <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 mt-4 cursor-pointer px-3 py-2 w-full text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cadastrar paciente</button>
            </form>
        </div>
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
       
            {% for paciente in pacientes %}
                <li>
                <div class="flex items-center gap-x-6">
                    <img class="size-16 rounded-full" src="{{paciente.foto.url}}" alt="">
                    <div>
                    <a href="{% url 'paciente_view' paciente.id %}" class="text-base/7 font-semibold tracking-tight text-gray-900">{{paciente.nome}}</a>
                    <p class="text-sm/6 font-semibold text-indigo-600">{{paciente.queixa}}</p>
                    </div>
                </div>
                </li>
            {% endfor %}         
    
          </ul>
        </div>
      </div>
      
    </div>


{% endblock 'body' %}